services:
  _defaults:
    autowire: true
    autoconfigure: true

  Customer\:
    resource: '../../src/Customer/'
    exclude:
      - '../../src/Customer/Domain/Model/'
      - '../../src/Kernel.php'
      - '../../src/Tests/'


  Customer\Adapter\Framework\Http\Controller\:
    resource: '../../src/Customer/Adapter/Framework/Http/Controller/'
    tags: [ 'controller.service_arguments' ]