on:
  pull_request:
    branches:
      - main

jobs:
  app_checks:
    name: app checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Pull docker-compose
        run: cp -n docker-compose.yml.dist docker-compose.yml && docker-compose -f docker-compose.yml pull
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
      - name: copy .env for testing
        run: cp -n .env.test .env.local
      - name: Prepare containers
        run: make start && make prepare
      - name: Wait some time for MySQL container
        run: sleep 10
      - name: Run coding style check
        run: make code-style-check
      - name: Run tests
        run: make tests
